.root {
  max-width: 600px;
  margin: 0 auto;
  padding: 24px 72px;
  border-radius: 10px;

  background-color: var(--tertiary-gray);
}

.title {
  margin-bottom: 24px;

  text-align: center;
}

.form {
  margin-bottom: 16px;
  padding-top: 16px;
  border-top: 1px solid var(--secondary-gray);
}

.input {
  margin-bottom: 24px;
}

.inputWithBorder {
  margin-bottom: 16px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--secondary-gray);
}

.submitButton {
  width: 100%;
  margin-top: 8px;
}

.singUpLink {
  color: var(--main-blue);
  text-decoration: underline;
  transition: color var(--delay);
}

.singUpLink:hover,
.singUpLink:focus {
  color: var(--secondary-blue);
  transition: color var(--delay);
}
