.root {
  max-width: 600px;
  margin: 0 auto;
  padding: 24px 72px;
  border-radius: 10px;

  background-color: #f5f7fa;
}

.title {
  margin-bottom: 24px;

  text-align: center;
}

.form {
  margin-bottom: 16px;
  padding-top: 16px;
  border-top: 1px solid #cbd2d9;
}

.input {
  margin-bottom: 24px;
}

.inputWithBorder {
  margin-bottom: 16px;
  padding-bottom: 24px;
  border-bottom: 1px solid #cbd2d9;
}

.submitButton {
  width: 100%;
  margin-top: 8px;
}

.singUpLink {
  color: #0967d2;
  text-decoration: underline;
  transition: color 0.2s;
}

.singUpLink:hover,
.singUpLink:focus {
  color: #47a3f3;
  transition: color 0.2s;
}
