.root {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 7px;
}

.input {
  padding: 12px 16px;
  border: 1px solid var(--secondary-gray);
  border-radius: 10px;

  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
  color: var(--text-color);
}
