.root {
  margin-top: 30vh;
}

.container {
  width: 100%;
  max-width: 500px;
}

.button {
  width: 100%;
}

.form {
  margin-bottom: 20px;
}

.helpLink {
  color: #228be6;
  text-decoration: none;
}

.helpLink:hover {
  text-decoration: underline;
}
