:root {
  --text-color: #1f2933;
  --main-blue: #0967d2;
  --secondary-blue: #47a3f3;
  --main-gray: #7b8794;
  --secondary-gray: #cbd2d9;
  --tertiary-gray: #f5f7fa;
  --font-size: 18px;
  --delay: 0.2s;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Nunito Sans', sans-serif;
  color: var(--text-color);
  font-size: var(--font-size);
}

input {
  outline: none;
}

button {
  background: none;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  outline: none;
  color: var(--text-color);
}

li {
  list-style: none;
}
